[buildout]

eggs += 
 django
 simplejson
 PIL
 Markdown
 textile
 MySQL-python
 easy-thumbnails
 django-filebrowser

# Use this directive to tell buildout which system wide package it can use.
# If allowed-eggs-from-site-packages is an empty list, then no eggs from site-packages are chosen, but site-packages will still be included at the end of path lists.
allowed-eggs-from-site-packages +=
 PIL
 MySQL-python
 Markdown
 textile
 elementtree
 simplejson
 jsmin

# Checkout package from [sources]
auto-checkout += 
 django-frontadmin
 django-seoutils
 django-grappelli
 django-grappellifit
 django-modeltranslation
 django-webcore
 django-generic-flatblocks
 django-slider
 django-contact-form
 django-nav
 django-crispy-forms
 django-company
 django-newsly


[versions]
django=1.4
PIL=1.1.7
django-filebrowser=3.4.3

[sources]
#django-grappelli = git git://github.com/sehmaschine/django-grappelli.git branch=grappelli_2_4
django-crispy-forms = git git://github.com/maraujop/django-crispy-forms.git
django-frontadmin = git git://github.com/h3/django-frontadmin.git
django-seoutils = git git://github.com/h3/django-seoutils.git
django-webcore = git git://github.com/h3/django-webcore.git
django-contact-form = git git://github.com/h3/django-contact-form.git
django-slider = git git://github.com/h3/django-slider.git
django-company = git git://github.com/h3/django-company.git
django-generic-flatblocks = git git://github.com/h3/webcore-generic-flatblocks.git
django-nav = git git://github.com/h3/django-nav.git
django-grappellifit = git git://github.com/h3/grappelli-fit.git
django-grappelli = git git://github.com/h3/django-grappelli.git branch=grappelli_2_4
django-modeltranslation = git git://github.com/h3/django-modeltranslation.git branch=filefield_test
django-newsly = git git://github.com/h3/django-newsly.git branch=bootstrap

[python]
extra-paths += 
 ${buildout:directory}/src/django-grappelli
 ${buildout:directory}/src/django-grappellifit
 ${buildout:directory}/src/django-frontadmin
 ${buildout:directory}/src/django-seoutils
 ${buildout:directory}/src/django-modeltranslation
 ${buildout:directory}/src/django-webcore
 ${buildout:directory}/src/django-slider
 ${buildout:directory}/src/django-contact-form
 ${buildout:directory}/src/django-nav
 ${buildout:directory}/src/django-crispy-forms
 ${buildout:directory}/src/django-generic-flatblocks
 ${buildout:directory}/src/django-company
 ${buildout:directory}/src/django-newsly

